* {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: rgba( 196, 202, 210 );
}

#container{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 1200px;
    align-items: center;
    background-color: transparent;
    margin: auto;
}

.top {
    text-align: center;
    font-size: 84px;
}

#calculator{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.output {
    text-align: right;
    background-color: black;
    color: white;
    height: 60px;
    font-size: 32px;
}
.container{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.lastrow{
    display: flex;
    flex-direction: row;
}

#footer {
    padding: 32px;
    display: flex;
    justify-content: center;
}

button {
    border-radius: 50%;
    font-size: 32px;
    width: 80px;
    height: 80px;
    transition-duration: 0.2s;
}

button:hover{
    background-color: grey;
}

.number {
    background-color: black;
    color: white;
}

#zero {
    width: 160px;
    border-radius: 20%;
    text-align: left;
}

.dot {
    background-color: black;
    color: white;
}

.operator {
    background-color: orange;
    color: white;
}

.clear {
    background-color: grey;
    color: black;
}

.percentage {
    background-color: grey;
    color: black;
}

.sign {
    background-color: grey;
    color: black;
}