* {
    font-family: Helvetica;
    background: rgba( 196, 202, 210 );
}

#container{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 1000px;
    height: 2000px;
    align-items: center;
    margin: auto;
}

.top {
    text-align: center;
    font-size: 84px;
}

#calculator{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 1000px;
    height: 1200px;
    background-color: black;
    margin: auto;
}

.output {
    text-align: right;
    background-color: black;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}


.lastrow{
    display: flex;
    flex-direction: row;
}

#footer {
    padding: 32px;
    display: flex;
    justify-content: center;
}

button {
    border-radius: 50%;
}

.number {
    background-color: black;
    color: white;
}

.dot {
    background-color: black;
    color: white;
}

.operator {
    background-color: orange;
    color: white;
}

.misc {
    background-color: grey;
    color: black;
}